@model IEnumerable<init.Models.User>

@{
  ViewData["title"] = "Users";
}

<hgroup>
  <h1>Users</h1>
  <p>View all users entries.</p>
</hgroup>

<table id="user-table" class="overflow-auto striped">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Role)
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(userItem => user.Id)
        </td>
        <td>
          @Html.DisplayFor(userItem => user.Name)
        </td>
        <td>
          @Html.DisplayFor(userItem => user.Email)
        </td>
        <td>
          @Html.DisplayFor(userItem => user.Role)
        </td>
        <td>
          <nav>
            <ul>
              <li>
                <a
                  class="secondary"
                  href="@Url.Action("Edit", "User", new { id = user.Id })"
                  data-tooltip="Edit"
                  data-placement="left">
                    <i class="fa-solid fa-pencil"></i>
                </a>
              </li>
              <li>
                <a
                  class="contrast"
                  href="@Url.Action("Details", "User", new { id = user.Id })"
                  data-tooltip="Details"
                  data-placement="left">
                    <i class="fa-solid fa-address-card"></i>
                </a>
              </li>
              <li>
                <a
                  href="@Url.Action("Delete", "User", new { id = user.Id })"
                  data-tooltip="Delete"
                  data-placement="left">
                    <del>
                      <i class="fa-solid fa-trash"></i>
                    </del>
                </a>
              </li>
            </ul>
          </nav>
        </td>
      </tr>
    }
  </tbody>
</table>