@model IEnumerable<init.Models.User>

@{
  ViewData["title"] = "Users";
}

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Role)
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(userItem => user.Id)
        </td>
        <td>
          @Html.DisplayFor(userItem => user.Name)
        </td>
        <td>
          @Html.DisplayFor(userItem => user.Email)
        </td>
        <td>
          @Html.DisplayFor(userItem => user.Role)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
          @Html.ActionLink("Details", "Details", new { id = user.Id }) |
          @Html.ActionLink("Delete", "Delete", new { id = user.Id })
        </td>
      </tr>
    }
  </tbody>
</table>